.fixed-row {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.locked-row {
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
}


.image-tab {
    width: 200px;
    height: auto;
    cursor: pointer;
    display: block;
    border: 1px solid #d1d1d1;
    /* เส้นขอบสีขาวสำหรับแท็บทั่วไป */
    border-radius: 5px;
    /* มุมโค้งของเส้นขอบ */
    padding: 2px;
    /* เพิ่มพื้นที่ภายในแท็บ */
    margin: 5px;
    /* ระยะห่างระหว่างแท็บ */
}

.image-tab.selected-tab {
    color: #ffffff;
    background-color: #d1d1d1;
    /* สีพื้นหลังสำหรับแท็บที่เลือก */
}

.pdf-page {
    display: block;
    margin-bottom: 20px;
    /* เว้นระยะหน้า */
    box-shadow: 0px 0px 5px #d1d1d1;
    /* เพิ่มเงาให้กรอบรูป */
    border-radius: 5px;
    /* กำหนดมุมของกรอบรูป */
}

.resize-drag {
    /* Initial state without border */
    border: 2px dashed transparent;
    position: absolute;
    overflow: hidden;
}
.resize-drag.selected{
    border: 2px dashed #112049 ;
    padding: 5px;
}

.resize-drag.resizing {
    /* Border style when resizing */
    border-color: #112049;
}

/* .resize-drag:hover { */
    /* Border style when resizing */
    /* border-color: #d1d1d1;
} */

.resize-drag.dragging {
    /* Border style when dragging */
    border-color: #112049;
}

.modal-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.modal-overlay.show {
  opacity: 1;
}
/* Modal Content Transition */
.modal-content {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.modal-content.show {
  transform: scale(1);
  opacity: 1;
}

